*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: red;
    padding: 16px 16px 0;
}
.container h1{
    font-size: 42px;
    color: rgb(235, 231, 231);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;

}
h1 img {
    height: 50px;
    position: absolute;
    margin-left: 8px;
}
.container{
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 8px;
}
input, form > button{
    padding: 8px;
    border: none;
    background-color: rgb(255, 120, 120);
    color: rgb(235, 231, 231);
    outline: none;
    font-size: 1em;
}
button{
    cursor: pointer;
}
input::placeholder{
    color: rgb(235, 231, 231);
}
button:hover{
    background-color: rgb(204, 0, 0);
}
ul{
    display: flex;
    width: 100%;
    justify-content: end;
}
ul li,
ul li a{
    text-decoration: none;
    color: rgb(235, 231, 231);
    list-style: none;
    padding: 16px;
}
ul li:hover,
ul li a:hover{
    background-color: rgb(204, 0, 0);
}
.container-grid img{
    height: 320px;
    margin-bottom: 8px;
}
.about{
    display: block;
}
.about p{
    font-size: 22px;
    margin: 0 0 16px 16px;
    display: flex;
}
.menu{
    display: none;
}
.container-grid{
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 16px auto;

}
.container-grid h2{
    font-size: 42px;
    margin: 8px;
    border-bottom: 2px solid red;
    color: red;
    text-align: center;
    font-style: italic;
}
.prod h2{
    font-size: 32px;
    color: red;
    font-style: italic;
    border-bottom: 2px solid red;
    margin: 32px 0;
    text-transform: uppercase;
}.prod{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.produto{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
}
section{
    border: 2px solid red;
    padding: 8px;
    margin: 0 4%  ;
}
section img{
    width: 100%;
    display: block;
}
section button{
    font-size: 16px;
    padding: 8px;
    background-color: red;
    border: none;
    color: white;
    width: 100%;
    margin-top: 8px;
}
section p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 8px;
}
section span p{
    text-align: end;
    margin: 0;
    font-size: 1em;
    font-style: italic;
}
@media screen and (max-width: 767px){
    .container{
        width: 100%;
        display: block;
    }
    .menu{
        display: block;
    }
    .container-grid{
        display: block;
        width: 100%;
        margin: 16px auto;
    
    }
    .container-grid img{
        width: 100%;
    }
    .produto{
        display: block;
    }
    .produto section{
        margin-bottom: 16px;
    }
    .prod h2{
        text-align: center;
        margin: 32px 8px;
    }
    section p{
        font-size: 1.5em;
        text-align: center;
        margin: 8px 0;
    }
    section span p{
        text-align: end;
        font-size: 1.3em;
    }
    nav ul{
        justify-content: center;
    }
    form{
        display: flex;
        margin-top: 16px;
        justify-content: end;
    }
    form input{
        margin-right: 8px;
    }
}
@media screen and (max-width: 1025px) and (min-width: 768px){
    .menu{
        display: block;
    }
    .container-grid{
        display: block;
        width: 100%;
        margin: 16px auto;
    
    }
    .container-grid img{
        height: auto;
        width: 90%;
        margin: 8px 5%;
    }
    .produto{
        grid-template-columns: repeat(2, 49%);
    }
    .produto section{
        margin-bottom: 16px;
    }
    .prod h2{
        text-align: center;
        margin: 32px 8px;
    }
    section p{
        font-size: 1.5em;
        text-align: center;
        margin: 8px 0;
    }
    section span p{
        text-align: end;
        font-size: 1.3em;
    }
    nav ul{
        margin: 16px 0;
        justify-content: center;
    }
    form{
        display: flex;
        margin-top: 16px;
        justify-content: end;
    }
    form input{
        margin-right: 8px;
    }
}