header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #ff4655;
}
#carousel-id{
    border-bottom: 1px solid #ff4655;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
    padding: 16px;
    border-bottom: #ff4655 1px solid;
}
h3{
    margin: 8px;
    font-size: 2em;
}
body{
    color: #ff4655;
}
.carousel-item{
    height: 30vh;
}
.carousel-item img{
    margin-top: -5%;
}
.navbar-nav .nav-link.active{
    color: white;
}
.nav-link{
    text-align: center;
}
.agentes{
    padding-top: 20px;
}
.container-grid{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 32px 0;
    border-bottom: #ff4655 1px solid;
}
.card {
    margin: 0 2.5%;
    border: 1px solid #ff4655;
}
.modal-body{
    padding: 2px;
}
.modal-body img{
    width: 100%;
}
.card-header,
.modal-header{
    background-color: #ff4655;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 4px 16px;
    border-bottom: 1px solid #ff4655;
}
.modal-header{
    justify-content: center;
}
.card img{
    height: 75vh;
}
.navbar-nav .nav-link.active{
    background-color: #ff4655;
}
footer{
    margin-top: 50px;
    background-color: #ff4655;
    color: white;
    height: 45vh;
    font-size: 16px;
    padding: 16px;
}
.rodape{
    display: flex;
    align-items: end;
    justify-content: end;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
footer p{
    margin: 20px 20px 0px 0px;
}
.img-val{
    width: 30%;
    margin: 0 auto;
}
.img-val img{
    width: 100%;
}
@media screen and (max-width: 767px){
    .carousel-item{
    height: 25vh;
    }
    .carousel-item img{
    margin-top: 0;
}
    .container-grid{
        display: block;
    }
    .card{
        margin-bottom: 20px;
    }
    .container{
        padding: 0;
    }
    footer{
        font-size: 15px;
        text-align: center;
    }
    .rodape{
        display: block; 
    }
    .img-val{
        width: 70%;
        margin-bottom: 0;
    }
}    
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-grid{
        grid-template-columns: repeat(2, 49%);
    }
    .card img{
        height: 50vh;
    }
    .card{
        margin-bottom: 20px;
    }
    footer{
    height: 40vh;
    font-size: 16px;
    padding-bottom: 0;
    text-align: center;
    }
    .rodape{
        display: block;
        
    }
    .img-val{
        width: 70%;
        margin-bottom: 40px;
    }
}